body {
    padding-top: 70px;
}

.zend-form fieldset {
    border: none;
    padding: 0;
}

.zend-form label {
    float: left;
    clear: both;
}

.zend-form label>span {
    float: left;
    width: 180px;
    text-align: right;
    margin-right: 10px;
    padding-top: 5px;
}

.zend-form input[type=text], .zend-form textarea {
    float: left;
    clear: right;
    display: inline-block;
    width: 800px;;
}

.zend-form input[type=submit] {
    float: left;
    clear: left;
    margin-left: 190px;
}